body 
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    /* background-color: rgb(20, 20, 20); */
    color: white;
    background-color: #151716;
    opacity: 0.8;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #000000 10px );
}

* { box-sizing: border-box; }
html 
{
    min-height: 100%;
    margin: 0;
}

/* the pre element that shows file contents */
#file-content 
{
    color: black;
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    white-space: pre-wrap;
    font-size: 16px;
}